::ng-deep {
  .row {
    height: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2%;
    align-items: center;
  }

  @for $i from 1 through 12 {
    .col#{$i} {
      grid-column: span $i;
    }

    .col-start#{$i} {
      grid-column-start: $i;
    }

    .col-end#{$i} {
      grid-column-end: $i;
    }
  }
}

:host {
  background-color: #f9fbfc;
}
