<div class="row header">
    <a class="col1 banner">
        <span style="font-weight: 800; color: white;">AUDIO</span>
        <span>SERVE</span>
    </a>
    <a class="col1" *ngFor="let menu of menus">{{menu}}</a>
    <span class="col2"></span>

    <div class="col3 row">
        <input type="text" placeholder="Search" class="col5">
        <span class="col1"></span>
        <div class="col6 row">
            <img src="../../favicon.ico">
            <span class="user">
                <span>Will Hunter</span>
                <span style="color:#cfbaff">Poolside.FM</span>
            </span>
        </div>
    </div>
</div>

<div class="row sub-header">
    <a class="col-start{{4 + i}}" *ngFor="let subM of subMenus; index as i">{{subM}}</a>
</div>