<section>
    <div class="title-section">
        <span class="title">
            Title
        </span>
        <span>You have <a>2 pending</a> ads to be approved</span>
    </div>

    <div>
        <button mat-stroked-button>
            <mat-icon>add</mat-icon>
            Filter
        </button>
        <button mat-stroked-button>
            <mat-icon>calendar_today</mat-icon>
            Last 30 days
        </button>
        <input matInput type="text" placeholder="Search" (change)="onChange(input?.value)" #input>
        <button mat-stroked-button style="background-color: #4dde76; color: white">
            <mat-icon>add</mat-icon>
            Create new
        </button>
    </div>
</section>