<app-ads-filter (searchEvent)="search($event)"></app-ads-filter>

<section class="row" *ngIf="data?.length; else noData">
    <div class="col12 row">
        <a [ngClass]="{'bold col3': true, 'active': isSorted(sortType.name)}" (click)="sort(sortType.name)">
            Object Name
            <mat-icon>{{getIcon(sortType.name)}}</mat-icon>
        </a>
        <a [ngClass]="{'bold col2': true, 'active': isSorted(sortType.metric1)}" (click)="sort(sortType.metric1)"
            style="text-align: center;">
            Metric 1
            <mat-icon>{{getIcon(sortType.metric1)}}</mat-icon>
        </a>
        <a [ngClass]="{'col2 bold right-align', 'active': isSorted(sortType.metric2)}" (click)="sort(sortType.metric2)">
            Metric 2
            <mat-icon>{{getIcon(sortType.metric2)}}</mat-icon>
        </a>
        <a [ngClass]="{'col2 bold right-align': true, 'active': isSorted(sortType.metric3)}"
            (click)="sort(sortType.metric3)">
            Metric 3
            <mat-icon>{{getIcon(sortType.metric3)}}</mat-icon>
        </a>
        <a class="col2 bold right-align" (click)="sort(sortType.metric4)">
            Metric 4
            <mat-icon>{{getIcon(sortType.metric4)}}</mat-icon>
        </a>
        <a class="col1 bold right-align"> </a>
    </div>

    <div class="col12">
        <div class="row table-row" *ngFor="let row of data">
            <span class="bold col3"> {{row.name}}</span>
            <span class="col2" style="text-align: center;">{{row.metric1}}</span>
            <span class="col2 right-align">{{row.metric2}}
                <span class="currency" *ngIf="row.metric2 !== 0">GBP</span></span>
            <span class="col2 right-align">{{row.metric3}}
                <span class="currency" *ngIf="row.metric3 !== 0">GBP</span></span>
            <span class="col2 right-align">
                <span class="currency" *ngIf="row.metric4 !== 0">GBP</span>
                {{row.metric4}}</span>
            <span class="col1 right-align">
                <mat-icon>edit</mat-icon>
            </span>
        </div>
    </div>
</section>

<ng-template #noData>
    <div class="row"><span class="col-start6">No Data</span></div>
</ng-template>